img {
  margin: 10px;
  border: 5px solid #555;
  width: 10%;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.selected {
  border: 5px solid rgb(0, 195, 255);
}

p {
  text-align: center;
}

button {
  margin: 20px;
}

.hidden {
  display: none;
}
